.container {
    max-width: 1176px;
    margin: 0 auto;
    padding: 48px 0px;

    .list-result {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        margin-top: 32px;

        .list-item {
            width: 100%;
            max-width: 576px;
            height: 212px;
            display: flex;
            flex-direction: row;
            border-radius: 8px;
            box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);

            img {
                width: 288px;
                height: 212px;
                border-radius: 8px;
                font-size: 24px;
                line-height: 28px;
            }

            .list-item-info {
                display: flex;
                flex-direction: column;
                width: 288px;
                height: 212px;
                background: #ffffff;
                padding: 24px;
                gap: 10px;

                h3 {
                    height: 60px;
                    font-size: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 1440px) {
    .container {
        padding: 48px 16px;
    }
}

@media screen and (max-width: 660px) {
    button {
        width: 100%;
        display: block;
        margin-bottom: 68px;
    }
}

@media screen and (max-width: 540px) {
    .form {
        .form-input {
            display: block;
            flex-direction: column;

            .input-title {
                margin-top: 0px;
                max-width: unset;
            }

            .input-description {
                max-width: unset;
            }

            .form-input-column {
                margin-top: 17px;
            }
        }
    }

    button {
        display: block;
        margin-bottom: 68px;
        max-width: unset;
    }

    .list-item {
        display: flex;
        flex-direction: column;
        height: 424px;
        justify-content: center;
        align-items: center;

        img {
            height: 212px;
        }

        .list-item-info {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
}

@media screen and (max-width: 412px) {
    .container {
        padding: 17px;
    }
}
