.form {
    max-width: 722px;
    margin-top: 32px;

    .form-input {
        display: flex;

        .form-input-image {
            width: 100%;
            max-width: 288px;
            height: 212px;
            border: 2px solid #e5e5e5;
            border-radius: 8px;
            margin-right: 17px;
            position: relative;

            .input-image-placeholder {
                width: 100%;
                height: 100%;
                display: none;
            }

            .input-image {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 2;
                opacity: 0;
                text-align: center;
            }

            .input-image-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.15px;
                color: #858585;
            }
            &.active {
                .input-image-placeholder {
                    display: block;
                }
                .input-image-text {
                    display: none;
                }
            }
        }

        .forms-input {
            border: 2px solid #e5e5e5;
            border-radius: 8px;
        }

        .form-input-column {
            width: 100%;
        }

        .input-title {
            width: 100%;
            max-width: 414px;
            height: 54px;
            padding: 15px;
            margin-top: 5px;
        }

        .input-text {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.15px;
            color: #858585;
        }

        .input-description {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 414px;
            height: 130px;
            margin-top: 20px;
            padding: 36px 0px 0px 18px;
        }
    }
}
