body,
input,
textarea {
    font-family: "Roboto", sans-serif;
}

h2,
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    display: flex;
    align-items: center;
}

button {
    cursor: pointer;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    background: #ff5a5f;
    border: 1px solid #ff5a5f;
    border-radius: 8px;
    padding: 16px 20px;
    gap: 10px;
    color: #ffffff;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 16px;
    margin-bottom: 60px;
}

span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #858585;
}
